Source: baidupcs
Section: net
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends:
 debhelper (>= 10),
 pkg-config,
 libssl-dev,
 libcurl4-openssl-dev,
 libcjson-dev,
Standards-Version: 4.1.1
Homepage: https://github.com/GangZhuo/BaiduPCS
Vcs-Browser: https://github.com/debiancn/BaiduPCS
Vcs-Git: https://github.com/debiancn/BaiduPCS.git

Package: libbaidupcs-dev
Section: libdevel
Architecture: any
Depends: libbaidupcs0 (= ${binary:Version}), ${misc:Depends}
Description: Command-line Baidu cloud disk utility - library development headers
 A command line tool to manipulate Baidu Cloud Disk files (pan.baidu.com).
 .
 This package contains the library development headers.

Package: libbaidupcs0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command-line Baidu cloud disk utility - library
 A command line tool to manipulate Baidu Cloud Disk files (pan.baidu.com).
 .
 This package contains the shared library.

Package: baidupcs
Architecture: any
Depends: libbaidupcs0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Command-line Baidu cloud disk utility
 A command line tool to manipulate Baidu Cloud Disk files (pan.baidu.com).
